/* .container {
    background-color: aqua;
    padding: 5px;
}

.container div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: beige;
} */

/* flex */

/* .container-flex{
    display: flex;
    background-color: coral;
    padding: 3px;
}

.container-flex div{
    margin: 2px;
    width: 100px;
    height: 100px;
    background-color: rgb(190, 190, 57);
}

@media screen and (max-width: 600px) {
    .container-flex{
        flex-direction: column;
    }
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    height: 650px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

section img {
    width: 40%;
}

html {
    scroll-behavior: smooth;
}

section:first-child {
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
} 

section:nth-child(2){
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

section:nth-child(3){
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}


section a {
    display: inline-block;
    width: 70px;
    height: 30px;
    background-color: teal;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
}

section a:hover{
    font-weight: bolder;
}

section a:active{
    opacity: 0.5;
}

@media screen and (max-width: 600px){
    section{
        flex-direction: column;
    }
}